body {
  font-family: Roboto;
  flex-direction: column;
}
ul {
  list-style-type: none;
  flex-direction: column;
}
li {
  list-style-type: none;
  flex-direction: column;
}
p {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
}

h1 {
  font-family: Roboto;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}
.navigation {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
}
.navigation a {
 
}
.main-page {
  color: var(--WHITE, #fff);
  background: var(--NAVY-BLUE, #2e2f42);
}

.main-page-button {
  background: #4d5ae5;
  color: #fff;
}
.first-section {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-align: center;
}
.second-section {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-align: center;
}

.footer {
  color: var(--WHITE, #fff);
  background: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}
