:root {
  --IRIS: #4d5ae5;
  --CLOUD: #f4f4fd;
  --WHITE: #fff;
  --SLATE: #434455;
  --NAVY-BLUE: #2e2f42;
}

/* body */
body {
  font-family: "roboto", sans serif;
  color: var(--NAVY-BLUE);
}
/*end of body */

/*Hero section */
.logo {
  text-decoration: none;
  font-family: "raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo span {
  color: var(--IRIS);
}

nav .logo {
  color: var(--NAVY-BLUE);
}
.hdr a {
  text-decoration: none;
  color: var(--NAVY-BLUE);
  font-weight: 500;
}
.hdr .contact {
  font-weight: 400;
  padding-top: 0%;
}
.hdr a:hover,
.hdr a:focus {
  color: var(--IRIS);
}

.list {
  list-style: none;
  padding-left: 0;
}
.hero .button {
  background-color: var(--IRIS);
  border: none;
  border-radius: 4px;
  color: var(--WHITE);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.64px;
}
.hero .button:hover,
.hero .button:focus {
  color: var(--NAVY-BLUE);
}
/* end of  Hero section */

/* sections  */
.navy-bg {
  background-color: var(--NAVY-BLUE);
}
.hero h1 {
  color: var(--WHITE);
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 1.12px;
  text-align: center;
}
.center {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
/* end of sections  */

/* footer */
.footer {
  color: var(--CLOUD);
}
.footer .logo {
  color: var(--CLOUD);
}
.footer .logo:hover,
.footer .logo:focus {
  color: var(--IRIS);
}
/* end of footer */
