:root {
  color: (--NAVY-BLUE, #2e2f42) (--CLOUD, #f4f4fd) (--CORNFLOWER, #e7e9fc)
    (--IRIS, #4d5ae5);
}
/* body */
body {
  font-family: "roboto", sans-serif;
  color: var(--NAVY-BLUE, #2e2f42);
}
ul {
  list-style-type: none;
  padding-inline-start: 0px;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: var(--NAVY-BLUE, #2e2f42);
  font-weight: 400;
}
a:hover,
a:focus {
  color: var(--IRIS, #4d5ae5);
}
/* end of body */

/* Header Section*/
.web-logo {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.studio {
  color: var(--IRIS, #4d5ae5);
}
.header {
  color: var(--IRIS, #4d5ae5);
}
/* end of Header Section*/

/* Buttons Section  */
button {
  cursor: pointer;
  color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.64px;
  border: 1px solid #e7e9fc;
  line-height: 24px;
}
.button-link :nth-child(1) {
  background: #4d5ae5;
  color: #f4f4fd;
}
button:hover {
  color: var(--NAVY-BLUE, #2e2f42);
}
/* end of Buttons Section*/

/* Image Section */
img {
  width: 360px;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
/* end of Image Section */

/* Footer */
footer {
  color: var(--CLOUD, #f4f4fd);
  background: var(--NAVY-BLUE, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.footer-web {
  color: var(--IRIS, #4d5ae5);
}
footer a {
  color: var(--CLOUD, #f4f4fd);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
/* end of Footer */
